body {
  background: linear-gradient(to right, #ffcc00, #ff3300);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
}

h1 {
  margin-top: 150px;
  font-size: 2em;
}
